@{
  Layout = "_Layout";
}

<h1>Welcome to your Stylist tracking app Claire!</h1>

<h3>@Html.ActionLink("See all Stylists", "Index", "Stylists")</h3>
<h3>@Html.ActionLink("See all Clients", "Index", "Clients")</h3>